@import "tailwindcss";

@font-face {
    font-family: 'Main';
    src: url('/fonts/LemonTuesday.otf') format('truetype');
    font-weight: normal;
    }

@font-face {
    font-family: 'Second';
    src: url('/fonts/SUBSCRIBER-Regular.otf') format('truetype');
    font-weight: normal;
    }

@theme {
    --color-green1: #5D8736;
    --color-green2: #809D3C;
    --color-green3: #A9C46C;
    --color-green4: #F4FFC3;

    --font-main: "Main", "sans-serif";
    --font-second: "Second", "sans-serif";

    --breakpoint-xs: 375px;
}
