@import "tailwindcss";

@font-face {
    font-family: 'Main';
    src: url('/fonts/LemonTuesday.otf') format('truetype');
    font-weight: normal;
    }

@font-face {
    font-family: 'Second';
    src: url('/fonts/SUBSCRIBER-Regular.otf') format('truetype');
    font-weight: normal;
    }

@theme {
    --color-green1: #5D8736;
    --color-green2: #809D3C;
    --color-green3: #A9C46C;
    --color-green4: #F4FFC3;

    --font-main: "Main", "sans-serif";
    --font-second: "Second", "sans-serif";

    --breakpoint-xs: 375px;

    --text-2xl: 2.25rem;
    --text-3xl: 3rem;
    --text-4xl: 3.2rem;
    --text-5xl: 3.5rem;

}

@layer base{
    body{
        @apply tracking-wider leading-3;
    }
}


.swal2-popup.custom-swal{
    background-color: var(--color-white);
    border: 6px solid var(--color-green1);
    border-radius: 1.5rem;
    font-family: var(--font-second);
    font-size: 2rem;
    letter-spacing: 0.025em;
    color: black;
}

.swal2-title{
    font-size: 2.5rem;
    letter-spacing: 0.05em;
}

.swal2-confirm{
    font-size: 2rem;
    letter-spacing: 0.05em;
    background-color: var(--color-green3);
    border-radius: 1.5rem;
    border: 3px solid var(--color-black);
    color: black;
}

.swal2-cancel{
    font-size: 2rem;
    letter-spacing: 0.05em;
    border-radius: 1.5rem;
    border: 3px solid var(--color-black);
    color: black;
    background-color: oklch(63.7% 0.237 25.331);
}

